// Custom styles.

// 修改字体
body {
  font-family: "TIBch", "Classic Grotesque W01", "Helvetica Neue", Arial, "Hiragino Sans GB", "STHeiti", "WenQuanYi Micro Hei", SimSun;
  font-size: 16px;
  line-height: 1.7;
  color: #555;
  -webkit-font-smoothing: antialiased;
}
